* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Army'; /* Имя шрифта */
    src: url(../fonts/capture-it_[allfont.ru].ttf); /* Путь к файлу со шрифтом */
   }

body {
    background: url("../img/camouflage.jpg");
}

.container {
    padding-right: 0px;
}
.header {
    width: 100%;
    background:#f8f9fab5;
    text-align: center;
}
nav {
    font-family: 'Army', arial;
    font-size: 18px;
}
.parad {
    height: 200px;
    background: url("../img/parad3.jpg") no-repeat;
    background-size: 100%;
}
.dontyears {
    height: 200px;
    background: url("../img/neteriay.jpg") no-repeat;
    background-size: 100%;
}

.replace p {
    text-align: justify;
}

.conditions {
    height: 200px;
    background: url("../img/6dW9ijX.jpg") no-repeat;
    background-size: 100%;
}

.header h1 {
    width: 100%;
    padding-top: 8%;
    color: white;
    font-family: 'Army', arial;
    font-size: 35px;
    text-shadow: 4px 4px 4px rgb(43, 38, 38);
}

.header ul {
    list-style-type:none;
}

.padding {
    padding: 5%;
}

.heading {
    font-family: 'Army', arial;
    font-size: 25px;
}

.adding {
    width: 100%;
}

.hover {
    height: 320px;
    width: 200px;
    margin: 0 auto;
    background: url('..//img/book.jpg');
    background-size: cover; 
    position: relative;
}

.hover:hover {
    opacity: 0.5;
    background: black;
}

.btn-primary {
    background-color: #343940;
    border-color: #343940;
}

.btn-primary:hover {
    color: #343940;
    background-color: white;
    border-color: white;
}

.form-control:focus {
    color: #495057;
    border-color: #495057;
    box-shadow: 0 0 0 0.2rem #343a40;
}